.report {
  margin: 50px;
  width: 300px;
  background-color: #fafafa;
}
.title,
.create,
.course-list {
  margin-left: 20px;
}
.create .attr:first-child {
  margin-bottom: 5px;
}
.create label {
  display: inline-block;
  width: 60px;
}
.create button {
  display: block;
  width: 60px;
  margin: 10px auto;
}
.course {
  margin: 15px 0;
}

.total {
  margin-top: 30px;
  padding: 20px;
  background-color: #eee;
}
.total span {
  font-weight: 600;
}
.total span:last-child {
  margin-left: 20px;
}
