.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#todoApp {
  margin-left: 55px;
}
#todoApp ul,
#todoApp li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#create-todo {
  /* background-color: #eee; */
  height: 60px;
  line-height: 60px;
}
/* .todo-list {
    background-color: #61dafb;
} */
.todo {
  display: flex;
  background-color: #eee;
  padding: 15px 0;
  margin: 10px 0;
}
.display {
  display: flex;
  align-items: center;
  background-color: #eee;
}
.display .todo-content {
  color: #1e90ff;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
.display div {
  height: 30px;
  line-height: 30px;
}
.display .todo-destory {
  color: #f40;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}
.display .todo-destory:hover {
  font-weight: 700;
}
